* {
    margin: 0px;
    padding: 0px;
    border: solid 1px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background: #e6e6e6;
}
.span {
    color: #fff;
}
#cabeca {
    background-color: #f7b600;
    text-align: center;
}

#cabecalho {
    font-size: 1.6em;
}
#menu-barra {
    padding: 10px;
    margin: 10px 0px 20px 0px;
  
}

#area-principal {
    background: #fff;
    width: 920px;
    margin: 0 auto;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}
#conteudo {
    margin: 0 auto;
    width: 660px;
    background: #fff;
}


a {
    padding: 20px;
    margin: 15px;
    text-decoration: none;
    color: #fff;
}

a:visited, a:link {
    color: #fff;
}

a:hover {
    background: #fff;
   color: #f7b600;
   border-radius: 15px;
}
