* {
    margin: 0px;
    padding: 0px;
   
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background: #e6e6e6;
}
.span {
    color: #fff;
}
#cabeca {
    background-color: #f7b600;
    text-align: center;
}

#cabecalho {
    font-size: 1.6em;
}
#menu-barra {
    padding: 10px;
    margin: 20px 0px 20px 0px;
  
}

#area-principal {
    padding: 15px;
    width: 920px;
    margin: 0 auto;
}

#area-postagens {
    width: 660px;
    float: left;
    background: #fff;
}

#area-lateral {
    width: 240px;
    float: right;
    background: #fff;
}

.postagem {
    margin: 10px;
    margin-bottom: 20px;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 35px;
    background: #ccc;
}
#conteudo {
    margin: 0 auto;
    width: 660px;
    background: #fff;
}

#postagens-recentes {
    margin-bottom: 20px;
    padding: 15px;
}
#categorias {
    margin-top: 10px;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #f7b600;
    font-size: 1.1em;
    text-align: center;
    padding: 5px;
}

#cabeca a:visited, #cabeca a:link {
    text-decoration: none;
    color: #fff;
}

#cabeca a:hover {
   background: #fff;
   color: #f7b600;
   border-radius: 15px;
}

a {
    padding: 15px;
    margin: 15px;
    text-decoration: none;
    color: #fff;
    
}

a:visited, a:link {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#categorias a {
    color: #f7b600;
    margin: 40px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

#categorias a:hover {
    color: #fff;
    background: #f7b600;
}
